/* Google font */

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

/* Bebas Neue*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

/* universal selection */

h1{
    font-family: 'Bebas Neue',
    cursive;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}
h2{
   font-family: 'Bebas Neue',
   cursive;
    font-size: 48px;
    color: #061135f6;
}
.title-name{
    color: #FF8063;
}
.title{
    color: darkcyan;
}
p{
    font-family: 'Roboto',
    sans-serif;
    color: dimgray;
    font-size: 16px;
}
.button-link{
    background-image: linear-gradient(90deg, #6E1FEA 0%,#467DE1 99.99%);
    padding: 10px 20px;
    border-radius: 5px;
    font-size:16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto',
    sans-serif;
    display: inline-block;
    margin-top: 30px;
}
section{
    height: 500px;
    padding-bottom: 115px;
    padding-top: 20px;
}

/* Header Section */

ul{
    padding-top: 0;
    margin: 10px 20px 25px 0px ;
   height: 25px;
  display: block;
}
ul li{
    list-style: none;
    float: right;
    text-align:right ;
    margin: 20px 15px 5px 0px;
}
ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.534);
    font-family: 'Roboto' , sans-serif;
    font-weight: 700;
    
}
.half-width{
    width: 40%;
    margin-left:5% ;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}
.about{
    margin-top: 10px;
}

/* project arae */

.my-project-area{
    background-color: #e5e5e5;
}
.my-project-area h2{
    text-align: center;
}
.my-project-area .card{
 width: 370px;
 height: 374px;
 background: #FFFFFF;
 border-radius: 10px;
 float: left;
 margin-left: 4%;
 box-shadow: 10px 10px 30px gray;
 }

.card img{
  width: 345px;  
 height: 210px;
    margin: 15px;

}
.card p,h3{
    padding-left: 25px;
}
.card h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700

}
/* contact section(work inquiry) */
.work-inquiry{
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: 900px;
   
    background-position: center;
}
.work-inquiry h2{
    margin: 50% 0 0 35%;
    color: #ffffff;
}
.work-inquiry .button-link{
    margin: 52% 0 0 40%;
    background-image: linear-gradient(280deg,#FF589B,#FF136F);
}

/* footer area */
.footer-text h1{
    font-size:25px ;
    color: dimgray;
    font-weight: normal;
}
.footer-text h3{
    font-family: 'Roboto ', sans-serif;
    font-size: 36px;
    color: #061135f6;
}
.footer-text{
    text-align:center;
}
.social-icons img{
    width: 40px;
    height: 40px;
    padding: 0 10px;
   
}
.social-icons{
    width: 200px;
    margin: auto;
    margin-bottom: 50px;
  
}
/*  skills section*/
.skills{
    width: 80%;
    background-image:linear-gradient(277.25deg,
    #6E1FEA 3.13%,
    #5258E5 22.69%,
    #3593E0 45.35%,
    #1EC2DB 66.22%,
    #0EE3D8 84.62%,
    #04F8D7 99.82%,
    #00FFD6 109.96%);
    height:300px ;
    margin: 100px auto;
    border-radius: 15px;
}
.skills h2{
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    letter-spacing: 2px;
}
.skills h5{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:#FF8063;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}